@charset "UTF-8";

html{
	height: 100%;
	overflow: hidden;
}


body{
	
	font-family: Times New Roman;
	height: 100%;
	width: 100%;
	background-image: url("../images/sfondo.jpeg");
	background-size: cover;
	background-position: center;
	//background-color: #01abc9;
	overflow: hidden;
}

a{
	
	color: white;
	text-decoration: none;
}

#container{
	
	height: 100%;
	position: relative;
	
	
	
}

#header{
	
	position:relative;
	font-family: Times New Roman;
	color:white;
	font-size:180%;
	background-color: #4682b4;
	width: 99%;
	border-radius: 2px;
	height: 12%;
	display: table;
	opacity: 0.8;
	
}



h1{
	
	position: relative;
	top:30%;
	left: 3%;
	color: white;
}

h2{
	color: white;
	margin: 0px;
	padding-top: 5px;
	padding-left: 2px;
	text-align: left;
	display: inline;
}


#conferma_creazione{
	
	position: absolute;
    background-color: #6495ed;
    border-radius: 7px;
    width: 10%;
    height: 10%;
    left: 45%;
    text-align: center;
    color: white;
    border-style: solid;
    top: 40%;
    font-size:120%;
    z-index: 5;
	
}

#map{
	
	position:absolute;
	top:25%;
	font-family: Times New Roman;
	font-size:180%;
	background-color: #4682b4;
	border-radius: 2px;
	width: 49%;
	height: 65%;
	display: table;
	
}

#event{
	
	position:absolute;
	top:25%;
	left:50%;
	font-family: Times New Roman;
	font-size:180%;
	background-color: #4682b4;
	border-radius: 2px;
	width: 49%;
	height: 65%;
	display: block;
	text-align: center;
	overflow-y: scroll;
	overflow-x: hidden;
	
}

#profilo{
	
	width: 2%;
	height: 17%;
	position:absolute;
	top:80%;
	left:94%;
}

#settings{
	
	position:absolute;
	top:77%;
	left:97%;
}

footer{

	position:relative;
	top: 70%;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	color: white;
  	text-align: center;
}


#map-container{
	height: 100%;
	width: 100%;
}



#event_container{
	
	height: 89.5%;
	
}

#radio_buttons{
	
	color: white;
	margin: 0px;
	font-size: 60%;
	display: inline;
}

span{
	
	color: white;
	margin: 0px;
	font-size: 60%;
	display: inline;
	
}

#radio_button1{
	
	
	
	display: inline-block;
	width: 5%;
	
}

#radio_button2{
	
	
	display: inline-block;
	width: 5%;
	
}

#number_box{
	
	width: 6%;
	display: inline;
	
}


#manager-info{
	background-color: #4682b4;
	border-radius: 2px;
	text-align: center;
	display:none;
	position: fixed;
	top:27%;
	left:35%;
	z-index: 2;
	border: thin solid black;
}

#fsx, #fdx{
	margin-top: 10px;
}

#fsx{
	float: left;
}

#fdx{
	float: right;
}

#fdw{
	width: 100%;
	clear: both;
	float: left;
	text-align: center;
}

input, select, textarea{
	display: block;
	background-color: rgba(255, 255, 255, 1);
	padding: 12px;
	margin: 16px;
	width: 75%; 
}

textarea{
	width: 75%;
	position: relative;
	left: 5%;
	
}

#crea_btn, #cancel_btn{
	display: inline;
	width: 30%;
}


li{
	padding: 15px;
	padding-left: 0px;
	list-style: none;
	border: thin solid black;
	border-radius: 2px;
	text-align: center;
	
}

ul{
	padding-left: 0px;
}

.li-2{
	color: #daa520;
}

.li-1:hover {
	cursor: pointer;
	background-color: #1e90ff;
}

.li-2:hover {
	cursor: pointer;
	background-color: #ffd700;
}
.gm-style{
	font-family: monospace !important;
	font-size: large !important;
}


#info{
	z-index: 3;
	position: absolute;
	left: 32%;
	top: 3%;
}

#info:hover {
	background-color: #778899;
	cursor: pointer;
	border-radius: 100px;
}

#info-cont{
	visibility: hidden;
	font-size: 12pt;
	background-color: white;
	border: thin solid black;
	z-index: 3;
	position: absolute;
	left: 32%;
	top: 10%;
	width: 45%;
}