@charset "ISO-8859-1";

html{
	
	height: 100%;
}


 body{
	
	font-family: Times New Roman;
	height: 100%;
	width: 100%;
	background-image: url("../images/sfondo.jpeg");
	background-position: center;
	overflow: hidden;
}

a{
	
	color: white;
	text-decoration: none;
}

#container{
	
	height: 100%;
	position: relative;
	
	
}

#header{
	
	position:relative;
	font-family: Times New Roman;
	color:white;
	font-size:180%;
	background-color: #4682b4;
	width: 99%;
	border-radius: 2px;
	height: 29%;
	display: table;
}

#container_profilo{
	
	position:absolute;
	top:30%;
	font-family: Times New Roman;
	font-size:120%;
	background-color: #4682b4;
	border-radius: 2px;
	width: 30%;
	height: 65%;
	display: table;
	
}

#logo_container{
	
	margin-right: 13%;
}

#logo{
	
	height: 50%;
	width: 35%;
}


#container_info{
	
	position:absolute;
	top:30%;
	left:28.8%;
	font-family: Times New Roman;
	font-size:120%;
	background-color: #4682b4;
	border-radius: 2px;
	width: 68%;
	height: 65%;
	display: table;
}

h1{
	
	position: relative;
	top:30%;
	left: 3%;
	color: white;
	margin-bottom: 0px;
	margin-top: 0px;
}

#list1{
	
	position: absolute;
	top:80%;
	left: 8%;
	color: white;
	
}

#list2{
	
	position: absolute;
	top:65%;
	left: 8%;
	color: white;
}

#profilo{
	
	width: 2%;
	height: 15%;
	position:absolute;
	top:80%;
	left:94%;
}

#settings{
	
	position:absolute;
	top:80%;
	left:97%;
}

footer{

	position:relative;
	top: 14%;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	color: white;
  	text-align: center;
}

#header ul{
	position: relative;
	top: 50%;
	left: 20%;
	display: inline;
}

#header li{
	display: inline-block;
	margin-left: 30px;	
}

h2{
	position: relative;
	left: 3%;
	display: inline;
}


table a{
	color: black;
}